@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.name {
  margin-left: 41.5%;
  font-family: "Poppins", sans-serif;
  color: rgb(34, 40, 77);
}

.feedback {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
}
