@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.LoginTag {
  font-size: xx-large;
  text-align: center;
}
.WelcomeTag {
  margin-top: -5%;
  font-size: medium;
  text-align: center;
  margin-bottom: 8%;
}

.p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}

.secondarylogin {
  margin-left: 41%;
  margin-top: 8%;
}

.p-card-body {
  background-color: rgb(238, 252, 255);
}

.name {
  margin-left: 44%;
  font-family: "Poppins", sans-serif;
  color: rgb(34, 40, 77);
}

.p-field-checkbox {
  margin-left: 29%;
  margin-top: -3%;
}

.pending{
  font-family: "Poppins", sans-serif;
  color: rgb(34, 40, 77);
  margin-left: 43.5%;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(34, 40, 77); /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 45%;
  margin-top: 20%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* .loadingText{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  min-height: 100vh;
} */


